.search_header {
  display: flex;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;

  & .search_results > .Search > .search_input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
  }

  & .searchPage_options {
    display: flex;
    align-items: center;
    color: gray;

    & .search_optionIcon {
      display: flex;
      margin-right: 37px;
      & > a {
        text-decoration: none;
        color: gray;
      }
    }

    & .searchPage_optionsRight {
      display: flex;
      margin-left: 90px;

      & .s_options {
        padding: 10px;
        & > a {
          text-decoration: none;
          color: gray;
        }
      }
    }
  }
}

.search_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}
